<header class="container header">
    <div class="row d-flex align-items-center">
        <div class="col-1"><img src="./appleLogo.svg" alt="simbolo" class="img-fluid appleLogo"></div>
        <p class="col-10">iStore</p>
        <a class="col-1 btnStyle" href="api/sessions/logout">Logout</a>
    </div>
</header>
<p class="welcome">Te damos la bienvenida {{user.name}}!</p>
<div class="container">
    <h1 class="mt-5">Productos</h1>
    <hr/>
    {{#each products}}
        <div class="row mt-4">
            <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                <img class="img-fluid" src="{{this.thumbnail}}" alt="imagen real">
            </div>
            <div class="col">
                <p class="title">{{this.title}}</p>
                <p class="description">{{this.description}}</p>
                <p class="price">AR$ {{this.price}}</p>
                <p>Disponibles ({{this.stock}})</p>
                <button class="btnStyle">Agregar al carrito</button>
            </div>
        </div>
        <hr class="mt-4"/>
    {{/each}}
    <div class="paginate row d-flex justify-content-center mt-5 mb-5">
        {{#if hasPrevPage}}
                <a class="p-1" href="/products-view?page={{prevPage}}"><button class="btnStyle">Anterior</button></a>
        {{else}}
                <a class="p-1" href="#"><button class="btnStyle" disabled>Anterior</button></a>
        {{/if}}

        {{#if hasPrevPage}}
            <a class="p-1" href="/products-view?page={{prevPage}}"><button class="prevNextPageBtn">{{prevPage}}</button></a>
        {{/if}}
        <a class="p-1" href="#"><button class="btnStyle" >{{currentPage}}</button></a>
        {{#if hasNextPage}}
            <a class="p-1" href="/products-view?page={{nextPage}}"><button class="prevNextPageBtn">{{nextPage}}</button></a>
        {{/if}}

        {{#if hasNextPage}}
            <a class="p-1" href="/products-view?page={{nextPage}}"><button class="btnStyle">Siguiente</button></a>
        {{else}}
            <a class="p-1" href="#"><button class="btnStyle" disabled>Siguiente</button></a>
        {{/if}}
    </div>
</div>