<h1>Products</h1>
{{#each products}}
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
    <p><b>{{this.category}}</b></p>
    <h3>{{this.price}}</h3>
    <p>{{this.stock}}</p>
    <hr/>
{{/each}}
{{#if hasPrevPage}}
    <a href="/products-view?page={{prevPage}}"><button>Anterior</button></a>
{{/if}}
{{#if hasNextPage}}
    <a href="/products-view?page={{nextPage}}"><button>Siguiente</button></a>
{{/if}}