<div>
    <h1>Informacion del usuario</h1>
    <p>Nombre: {{user.name}}</p>
    <p>Apellido: {{user.last_name}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Telefono: {{user.phone}}</p>
    <p>Correo: {{user.email}}</p>
</div>